@media screen and (max-width: 768px) {
  .parent {
    max-width: 768px;
  }
  .parent_header {
    max-width: 720px;
    height: 60px;
  }
  .parent_main {
    max-width: 720px;
  }
  .parent_footer {
    max-width: 720px;
    height: 410px;
  }
  .main_second_box {
    max-width: 700px;
  }
  .parent_footer_container {
    gap: 50px;
  }
  .footer_box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 50px;
  }
  .footer_box_logo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer_box_logo_contacts {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}