* {
  box-sizing: border-box;
}

body{
  width: 1400px;
  min-height: 100vh;
  margin: 0;
  background: #FFFFFF;
  }

/* Header__Logo*/

header {
  display: block;
  margin: 0 auto;
  width: 1200px;
  height: 80px;
  background: #FFFFFF;
}

header .logo {
  position: relative;
  display: inline-block;
  height: 60px;
  width: 350px;
}

.logo img {
  display: inline-block;
  margin: 25px 10px 20px 100px;
}

.logo h1{
  display: inline-block;
  position: absolute;
  height: 30px;
  margin-left: 10px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #173A56;
}

/* Header__Nav*/

header .menu {
  display: inline-block;
  position: absolute;
  height: 60px;
  width: 500px;
  margin-left: 30px;
} 

.menu .points {
  display: inline-block;
  position: absolute;
  height: 60px;
  width: 450px;
  list-style: none;
  margin: 0 0 25px 50px;
  padding-left: 40px;
}

.menu li {
  display: inline-block;
}

.menu a {
  display: block;
  padding: 10px 15px;
  color: #2F281E;
  line-height: 60px;
  font-style: normal;
  font-size: 19px;
  font-weight: 400;
  text-decoration: none;
  font-family: "Montserrat";
  }

.menu a:hover {
  color: #FF9900;
}

/* Header__Buttons*/

header .buttons {
  display: inline-block;
  position: absolute;
  width: 220px;
  height: 60px;
  margin-left: 650px;
  margin-top: 10px;
}

.button_1, .button_2 {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 25%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  line-height: 30px;
  width: 100px;

  background: #FFFFFF;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #2F281E;
  border-radius: 4px; 
  border-color:#cac2c2;
}

.button_2 {
  background: #FF9900;
  left: 75%;
  color: #ffffff;
}

.button_1:hover {
  opacity: 50%;
} 

.button_2:hover {
  opacity: 50%;
}

/*    MAIN
First-screen section*/

main {
  display: block;
  margin: 0 auto;
  width: 1400px;
  height: 2000px;
}
.left_side {
  position: absolute;
  width: 1250px;
  height: 600px;
  left: 180px;
  top: 100px;
}

.left_side h1 {
  display: block;
  width: 500px;
  height: 100px;
  margin-top: 170px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #2F281E;
}

.left_side p {
  position: absolute;
  width: 420px;
  height: 90px;
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #544837;
}

.button_3 {
  position: absolute;
  width: 180px;
  height: 50px;
  top: 420px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  background-color: #FF9900;
  border-radius: 4px;
  border-color:#cac2c2;
}

.button_3:hover {
  opacity: 75%;
}

.image {
  border-style: none;
  width: 650px;
  height: 500px;
  margin-top: 90px;
  margin-left: 650px;
}

/*    MAIN
    Features*/

.features {
  display: flex;
  align-items: center;
  width: 1400px;
  height: 500px;
  top: 750px;
  
  background: #F2F2F2;
}