:root {
  /* base colors */

  --base_color-10:#ffffff;
  --base_color-1:#000000;

  /* Grey Shades */
  
  --grey-color-900: #323232;
  --grey-color-700: #565656;
  --grey-color-500: #7B7B7B;
  --grey-color-300: #CCCCCC;
  --grey-color-100: #F4F4F4;

  /* SEMANTIC COLORS */

  --red-color--900: #E10000;
  
  
  // breakpoints width

  --destop: "1440px";
  --tablet: "768px";
  --mobile:"450px";
  --mobile:"320px";
}



